In [2]:
import pandas as pd
import json

In [3]:
with open("personal.json", "r") as fichero: 
    personal = json.load(fichero)

In [6]:
personal

{'workers': [{'nombre': 'Ana',
   'edad': 35,
   'experiencia': 6,
   'nivel': 'Senior',
   'salario': 50000,
   'mascota': 'gatos'},
  {'nombre': 'Eva',
   'edad': 38,
   'experiencia': 3,
   'nivel': 'Mid',
   'salario': 35000},
  {'nombre': 'Marta',
   'edad': 28,
   'experiencia': 2,
   'nivel': 'Junior',
   'salario': 25000},
  {'nombre': 'Paula',
   'edad': 31,
   'experiencia': 4,
   'nivel': 'Mid',
   'salario': 35000}]}

In [5]:
for person in personal["workers"]:
    person["edad"] += 1
    person["experiencia"] += 1

In [7]:
personal

{'workers': [{'nombre': 'Ana',
   'edad': 35,
   'experiencia': 6,
   'nivel': 'Senior',
   'salario': 50000,
   'mascota': 'gatos'},
  {'nombre': 'Eva',
   'edad': 38,
   'experiencia': 3,
   'nivel': 'Mid',
   'salario': 35000},
  {'nombre': 'Marta',
   'edad': 28,
   'experiencia': 2,
   'nivel': 'Junior',
   'salario': 25000},
  {'nombre': 'Paula',
   'edad': 31,
   'experiencia': 4,
   'nivel': 'Mid',
   'salario': 35000}]}

In [9]:
for person in personal["workers"]:
    if person["experiencia"] == 1:
        person["nivel"] = "Junior"
    elif person["experiencia"] > 4:
        person["nivel"] = "Senior"
    else:
        person["nivel"] = "Mid"

personal

{'workers': [{'nombre': 'Ana',
   'edad': 35,
   'experiencia': 6,
   'nivel': 'Senior',
   'salario': 50000,
   'mascota': 'gatos'},
  {'nombre': 'Eva',
   'edad': 38,
   'experiencia': 3,
   'nivel': 'Mid',
   'salario': 35000},
  {'nombre': 'Marta',
   'edad': 28,
   'experiencia': 2,
   'nivel': 'Mid',
   'salario': 25000},
  {'nombre': 'Paula',
   'edad': 31,
   'experiencia': 4,
   'nivel': 'Mid',
   'salario': 35000}]}

In [10]:
for person in personal["workers"]:
    if person["nivel"] == "Junior":
        person["salario"] = 25000
    elif person["nivel"] == "Mid":
        person["salario"] = 35000
    else: 
        person["salario"] = 50000

personal

{'workers': [{'nombre': 'Ana',
   'edad': 35,
   'experiencia': 6,
   'nivel': 'Senior',
   'salario': 50000,
   'mascota': 'gatos'},
  {'nombre': 'Eva',
   'edad': 38,
   'experiencia': 3,
   'nivel': 'Mid',
   'salario': 35000},
  {'nombre': 'Marta',
   'edad': 28,
   'experiencia': 2,
   'nivel': 'Mid',
   'salario': 35000},
  {'nombre': 'Paula',
   'edad': 31,
   'experiencia': 4,
   'nivel': 'Mid',
   'salario': 35000}]}

In [11]:
with open("personal_actualizado.json", "w") as fichero:
    json.dump(personal, fichero)

In [12]:
df_personal = pd.read_json("personal_actualizado.json")

In [13]:
df_personal.head()

                                             workers
0  {'nombre': 'Ana', 'edad': 35, 'experiencia': 6...
1  {'nombre': 'Eva', 'edad': 38, 'experiencia': 3...
2  {'nombre': 'Marta', 'edad': 28, 'experiencia':...
3  {'nombre': 'Paula', 'edad': 31, 'experiencia':...