In [1]:
# antes de empezar importamos las librerías que vamos a usar. 
from bs4 import BeautifulSoup
import requests
import re
import pandas as pd

In [2]:
def sacar_medallero(url):

    # hacemos la request a la página de la que queremos sacar la info
    res_medallero= requests.get(url)
    
    print(res_medallero.status_code)

    sopa_medallero = BeautifulSoup(res_medallero.content, 'html.parser')

    tablas = sopa_medallero.find_all("table")

    # de todas las tablas que hay nos quedamos con la que nos interesa, la que tiene las medallas. 
    medallero = tablas[0]
    
    diccionario = {"numero": [], 
               "pais": [], 
               "oro": [], 
               "plata": [], 
               "bronce": [], 
               "total": []}
    
    filas = medallero.findAll("tr")[1:]
    for fila in filas:
        celdas = fila.findAll("td")
        diccionario["numero"].append(celdas[0].text)
        diccionario["pais"].append(celdas[1].text)
        diccionario["oro"].append(celdas[2].text)
        diccionario["plata"].append(celdas[3].text)
        diccionario["bronce"].append(celdas[4].text)
        diccionario["total"].append(celdas[5].text.strip())
    
    return pd.DataFrame(diccionario)

In [3]:
df = sacar_medallero("https://es.wikipedia.org/wiki/Anexo:Medallero_de_los_Juegos_Ol%C3%ADmpicos_de_Tokio_2020")
df.head()

200

  numero                   pais oro plata bronce total
0      1   Estados Unidos (USA)  39    41     33   113
1      2            China (CHN)  38    32     19    89
2      3            Japón (JPN)  27    14     17    58
3      4      Reino Unido (GBR)  22    20     22    64
4      5              ROC (ROC)  20    28     23    71